{% extends 'base.html' %}

{% block content %}
    <h1 class="text-5xl font-bold text-center my-8 text-transparent bg-clip-text bg-gradient-to-r from-primary to-secondary">Add New Task</h1>
    <div class="flex justify-center">
        <form method="POST" class="bg-white p-8 rounded-lg shadow-2xl space-y-6 w-full max-w-2xl">
            <div>
                <label for="title" class="block text-lg font-medium text-gray-700 mb-1">Task Title</label>
                <input type="text" name="title" id="title" required class="p-3 block w-full border-2  rounded-md sm:text-lg transition duration-300 ease-in-out" />
            </div>
    
            <div>
                <label for="description" class="block text-lg font-medium text-gray-700 mb-1">Task Description</label>
                <textarea name="description" id="description" required class="p-3 block w-full border-2  rounded-md sm:text-lg transition duration-300 ease-in-out" rows="4"></textarea>
            </div>
    
            <div>
                <label for="priority" class="block text-lg font-medium text-gray-700 mb-1">Priority</label>
                <select name="priority" id="priority" class="p-3 block w-full border-2  rounded-md sm:text-lg transition duration-300 ease-in-out">
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>
            </div>
    
            <div>
                <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-lg font-medium text-white bg-gradient-to-r from-primary to-secondary hover:from-primary hover:to-accent focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary transition duration-300 ease-in-out">
                    Add Task
                </button>
            </div>
        </form>
    </div>
{% endblock %}